p {
    display: inline-block;
    width: 49%;
}
.note {
    margin: 10px 0;
    padding: 5px;
    border: 2px solid black;
}
.right {
    vertical-align: top;
    margin: 0px;
    text-align: right;
}
.all-notes {
    height: 350px;
    overflow: auto;
}